<hibernate-configuration>
    <session-factory>
        <!-- SQLite -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:data/commodities.sqlite3</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="code.challenge.datasource.db.CommodityCategory" />
        <mapping class="code.challenge.datasource.db.CommodityEntity" />
    </session-factory>
</hibernate-configuration>